@model IEnumerable<Diplodocus.Models.Grade>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table class="table" border="1">
        <tr>
            <th>
                Nom des filière
            </th>
            <th>
                Matières présente dans la fillière

            </th>
            <th>
                Actions

            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.gradeName)
                </td>
                <td>


                    @foreach (var item2 in item.SchoolSubjectsList)
                    {

                        @Html.DisplayFor(modelItem => item2.SubjectName)<br />

                    }

                </td>
                <td>

                    @Html.ActionLink("Ajouter une matière", "AddSubject") |
                    @Html.ActionLink("Modifier", "Edit", new { id = item.IdGrade }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdGrade }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.IdGrade })
                </td>
            </tr>
        }

    </table>


    <p>
        @Html.ActionLink("Créer une nouvelle filière", "Create")
    </p>
</body>
</html>
