@model IEnumerable<Diplodocus.Models.Grade>


@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    if (Session["ManagerId"] == null)
    {
        Response.Redirect("~/Users/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="container" style="background-color:white; border-radius:10px; margin-top:5%; margin-bottom:5%">

        <p><br /></p>
        <table class="table">
            <tr>
                <th>
                    Nom des filière
                </th>
                <th>
                    Matières présente dans la fillière

                </th>
                <th>
                    Actions

                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.gradeName)
                    </td>
                    <td>


                        @foreach (var item2 in item.SchoolSubjectsList)
                        {

                            @Html.DisplayFor(modelItem => item2.SubjectName)<br />

                        }

                    </td>
                    <td>

                        @Html.ActionLink("Ajouter une matière", "AddSubject") |
                        @Html.ActionLink("Modifier", "Edit", new { id = item.IdGrade }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdGrade }) |
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.IdGrade })
                    </td>
                </tr>
            }

        </table>


        <p>
            @Html.ActionLink("Créer une nouvelle filière", "Create")
        </p>
    </div>
</body>
</html>
