@model Diplodocus.ViewModels.SimulationResultViewModel

<!DOCTYPE html>

@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    if (Session["StudentId"] == null)
    {
        Response.Redirect("~/Users/Login");
    }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResultatSimulation</title>
</head>
<body>
    <h2>Resultat des rattrapages</h2>
    <h3>@Model.Student.IdUser - @Model.Student.LastName @Model.Student.FirstName</h3>
    <h2>Moyenne générale : @Model.Moyenne</h2>

    <h1>Semestre 1</h1>
    <h3>Moyenne pour semestre 1 est de : @Model.MoyenneS1</h3>

    @if (@Model.MoyenneS1 >= 10)
    {
        <p style="color:yellowgreen">Votre moyenne est supérieur ou égale à 10.</p>
    }
    else
    {
        <p style="color:red"> Votre moyenne est inférieure à 10 pour le premier semestre.</p>
    }
    @{
        var rattrapage = false;
        var unAnDansLeC = false;
    }
    <table class="table">
        <tr>
            <th>Matière</th>
            <th>Note</th>
            <th>Coeficient</th>
            <th>Commentaire</th>
        </tr>
        @foreach (var subject in Model.Subjects)
        {
            <tr>
                @if (subject.Semester == 1)
                {
                    <td>@subject.SubjectName</td>
                    <td>@Model.LesNotes[subject]</td>
                    <td>@subject.Coef</td>
                    if (Model.LesNotes[subject] < subject.SubjectMarkFloor)
                    {

                        <td style="color:red">Rattrapage pour cette matière raté</td>
                        rattrapage = true;
                    }
                    else
                    {
                        if (Model.MoyenneS1 < 10 && Model.LesNotes[subject] < 10 && subject.Rattrapable == true)
                        {
                            rattrapage = true;
                            //Model.RattrapageVM.MatiereRattrapables.Add(subject, Model.LesNotes[subject]);
                            <td style="color:orange">Presque</td>
                        }
                        else
                        {

                            <td style="color:yellowgreen">Vous avez validé la matière.</td>
                        }
                    }
                }
            </tr>
        }
    </table>
    <h1>Semestre 2</h1>
    <h3>Moyenne pour semestre 2 est de : @Model.MoyenneS2</h3>

    @if (@Model.MoyenneS2 >= 10)
    {
        <p style="color:yellowgreen">Votre moyenne est supérieur ou égale à 10.</p>
    }
    else
    {
        <p style="color:red"> Votre moyenne est inférieure à 10 pour le second semestre.</p>
    }

    <table class="table">
        <tr>
            <th>Matière</th>
            <th>Note</th>
            <th>Coeficient</th>
            <th>Commentaire</th>
        </tr>

        @foreach (var subject in Model.Subjects)
        {
            <tr>
                @if (subject.Semester == 2)
                {
                    <td>@subject.SubjectName</td>
                    <td>@Model.LesNotes[subject]</td>
                    <td>@subject.Coef</td>
                    if (Model.LesNotes[subject] < subject.SubjectMarkFloor)
                    {
                        if (subject.Rattrapable == true)
                        {
                            <td style="color:red">Vous avez raté votre rattrapage.</td>
                            rattrapage = true;
                            //Model.RattrapageVM.MatiereRattrapables.Add(subject, Model.LesNotes[subject]);

                        }
                        else
                        {
                            <td style="color:red">Vous êtes éliminé. @subject.SubjectName n'est pas rattrapable.</td>
                            unAnDansLeC = true;
                        }

                    }
                    else
                    {
                        if (Model.MoyenneS2 < 10 && Model.LesNotes[subject] < 10 && subject.Rattrapable == true)
                        {
                            <td style="color:orange">Vraiment pas loin dommmage</td>
                            rattrapage = true;
                            //Model.RattrapageVM.MatiereRattrapables.Add(subject, Model.LesNotes[subject]);


                        }
                        else
                        {
                            <td style="color:yellowgreen">Vous avez validé la matière.</td>
                        }

                    }
                }
            </tr>
        }
    </table>

    @if (rattrapage == false && unAnDansLeC == false)
    {
        <p>Vous avez réussi les rattrapages !</p>
    }
    else
    {
        if (rattrapage == true && unAnDansLeC == false)
        {
            // @Html.ActionLink("Rattrapages", "goRattrapage", "Grades", Model.RattrapageVM, new { @class = "btn btn-primary" })
            <p>Désolé, les rattrapages ne se sont pas bien passés.</p>
        }
        else
        {
            <p>Vous êtes éliminé !</p>
        }

    }

    @Html.ActionLink("Retour à l'index", "RetourHome", new { id = @Model.Student.IdUser }, new { @class = "btn btn-primary" })

</body>
</html>
