@model IEnumerable<Diplodocus.Models.SchoolSubject>

@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    if (Session["ManagerId"] == null)
    {
        Response.Redirect("~/Users/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Les Matières</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" >
        <tr>
            <th>
                Nom de la filière
            </th>
            <th>
                Nom de la matière
            </th>



            <th>
                Seuil
            </th>
            <th>
                Semestre
            </th>
            <th>
                Rattrapable
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coef)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade.gradeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectMarkFloor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rattrapable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coef)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdSubject }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdSubject }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdSubject })
                </td>
            </tr>
        }

    </table>

    <br />
    @Html.ActionLink("Fillieres", "ReturnToGrades") |
</body>
</html>
