@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    if (Session["ManagerId"] == null)
    {
        Response.Redirect("~/Users/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manager menu</title>
</head>
<body>
    <p>
        Vous etes Manager :
        <br /><br />
        ManagerId => @Session["UserId"]
        <br />
        ManagerFirstName => @Session["ManagerFirstName"]
        <br />
        ManagerLastName => @Session["ManagerLastName"]
        <br />
        ManagerPhoneNumber => @Session["ManagerPhoneNumber"]
        <br />
        ManagerAddressEmail => @Session["ManagerAddressEmail"]
        <br />
        ManagerAddressEmail => @Session["UserType"]
        <br /><br />
        Action :

        <br />
        @Html.ActionLink("Gérer les filères", "ManageGradeRedirect")
        <br />
        @Html.ActionLink("Gérer les matières", "ManageSubjectRedirect")
        <br />
        @Html.ActionLink("Gérer les étudiants", "ManageStudentRedirect")




    </p>

</body>
</html>