@model Diplodocus.Models.Manager

@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    if (Session["ManagerId"] == null)
    {
        Response.Redirect("~/Users/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div class="container" style="background-color:white; border-radius:10px; margin-top:5%; margin-bottom:5%">
        <h4>Manager</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Prénom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                Prénom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                Adresse
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                Téléphone
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

        </dl>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.IdUser }) |
        @Html.ActionLink("Retour", "Index")
    </p>

        </div>
</body>
</html>
