@model IEnumerable<Diplodocus.Models.Manager>


@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    if (Session["ManagerId"] == null)
    {
        Response.Redirect("~/Users/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <p>
    </p>
    <p>
        @Html.ActionLink("Ajouter un nouveau", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Prenom
            </th>
            <th>
                Nom
            </th>
            <th>
                adresse mail
            </th>
            <th>
                Numéro de téléphone
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.IdUser }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdUser }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.IdUser })
                </td>
            </tr>
        }

    </table>
</body>
</html>
