@model Diplodocus.Models.Student
@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    ViewBag.Title = "Gestion Page";
    if (Session["StudentId"] == null || (int)Session["StudentId"] != Model.IdUser)
    {
        Response.Redirect("~/Users/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestion</title>
    <style>
    </style>
</head>
<body>
    <div class="container" style="background-color:white; border-radius:10px; margin-top:5%; margin-bottom:5%">
        <br />
        @using (Html.BeginForm("EditStudent", "Users", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <br /><br />
                <h4>Changer vos informations</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdUser)

                <div class="form-group">
                    <div class="control-label col-md-2"><strong>Prénom</strong></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2"><strong>Nom</strong></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2"><strong>Adresse Email</strong></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AddressMail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.AddressMail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2"><strong>Numéro de téléphone</strong></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--FILIERE-->
                <div class="form-group">
                    <div class="control-label col-md-2"><strong>Filière</strong></div>
                    <div class="col-md-10">
                        @Html.DropDownList("GradeIdGrade", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GradeIdGrade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.Password)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Sauvegarder" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <!--
    @using (Html.BeginForm("EditPassword", "Users", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <br /><br />
            <h4>Changer votre mot de passe</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdUser)
            @Html.HiddenFor(model => model.FirstName)
            @Html.HiddenFor(model => model.LastName)
            @Html.HiddenFor(model => model.AddressMail)
            @Html.HiddenFor(model => model.PhoneNumber)
            @Html.HiddenFor(model => model.GradeIdGrade)

            <div class="form-group">
                <div class="control-label col-md-2"><strong>Mot de passe actuel</strong></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"><strong>Nouveau Mot de passe 1</strong></div>
                <div class="col-md-10">
                    <input class="form-control" type="password" name="password1" />
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"><strong>Nouveau Mot de passe 2</strong></div>
                <div class="col-md-10">
                    <input class="form-control" type="password" name="password2" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sauvegarder" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    -->
        <!--
        <div>
            @using (Html.BeginForm("EditPassword", "Users", FormMethod.Post)){
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Change password</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdUser)
                <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
            </div>
            }
        </div>
    -->
    </div>
</body>
</html>