@model Diplodocus.ViewModels.User

@{
    ViewBag.Title = "Page d'inscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inscription</title>
    <style>
        #login-div {
            position: absolute;
            left: 38%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 30px 30px 30px 30px;
            border-radius: 5px;
        }
    </style>
</head>
<body background="~/Pictures/wallpaper.jpg">

    @using (Html.BeginForm("AddStudent", "Users", FormMethod.Post))
    {
        <div class="container" style="margin-top:15%;opacity:0.92">
            <div class="row">
                <div class="col-sm-6 col-md-8 col-md-offset-2">
                    <div class="panel panel-default" style="color: greenyellow; background-color:#262626; border:0px solid #262626">
                        <div class="panel-heading" style="color: greenyellow; background-color:#262626; border:0px solid #262626">
                            <strong>Formulaire D'inscription</strong>
                        </div>
                        <div class="panel-body" style="color: greenyellow; background-color:#404040; border:0px solid #262626">
                            <form role="form" action="#" method="POST">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-10  col-md-offset-1 ">

                                            <!--EMAIL-->
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" style="color: greenyellow; background-color:#262626; border:0px solid #262626">
                                                        <i><img src="~/Pictures/email-32x32.png" style="display:inline-block;padding-left:5px" /></i>
                                                    </span>
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", style = "background-color:#a5a5a5; border-color:#262626; color:white" } })
                                                </div>
                                            </div>

                                            <!--PRENOM-->
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" style="color: greenyellow; background-color:#262626; border:0px solid #262626">
                                                        <i><img src="~/Pictures/name-32x32.png" style="display:inline-block;padding-left:5px" /></i>
                                                    </span>
                                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Prénom", style = "background-color:#a5a5a5; border-color:#262626" } })
                                                </div>
                                            </div>

                                            <!--NOM-->
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" style="color: greenyellow; background-color:#262626; border:0px solid #262626">
                                                        <i><img src="~/Pictures/name-32x32.png" style="display:inline-block;padding-left:5px" /></i>
                                                    </span>
                                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Prénom", style = "background-color:#a5a5a5; border-color:#262626" } })
                                                </div>
                                            </div>

                                            <!--TEL-->
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" style="color: greenyellow; background-color:#262626; border:0px solid #262626">
                                                        <i><img src="~/Pictures/tel-32x32.png" style="display:inline-block;padding-left:5px" /></i>
                                                    </span>
                                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Numéro de téléphone", style = "background-color:#a5a5a5; border-color:#262626" } })
                                                </div>
                                            </div>

                                            <!--FILIERE-->
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" style="color: greenyellow; background-color:#262626; border:0px solid #262626">
                                                        <i><img src="~/Pictures/ecole-32x32.png" style="display:inline-block;padding-left:5px" /></i>
                                                    </span>
                                                    @Html.DropDownList("GradeIdGrade", null, htmlAttributes: new { @class = "form-control", style = "background-color:#a5a5a5; border-color:#262626" })
                                                    @Html.ValidationMessageFor(model => model.GradeIdGrade, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <!--MDP1-->
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" style="color: greenyellow; background-color:#262626; border:0px solid #262626">
                                                        <i><img src="~/Pictures/lock-32x32.png" style="display:inline-block;padding-left:5px" /></i>
                                                    </span>
                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Mot de passe", minlenght = "8", style = "background-color:#a5a5a5; border-color:#262626" } })
                                                </div>
                                                *Votre de mot de passe doit contenir au moins 8 caractères.
                                            </div>
                                            
                                            <!--MDP2-->
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" style="color: greenyellow; background-color:#262626; border:0px solid #262626">
                                                        <i><img src="~/Pictures/lock-32x32.png" style="display:inline-block;padding-left:5px" /></i>
                                                    </span>
                                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirmation du mot de passe", style = "background-color:#a5a5a5; border-color:#262626" } })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Inscription" style="color: white; background-color:red; border:0px solid #262626">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="panel-footer" style="color: greenyellow; background-color:#262626; border:0px solid #262626">

                            Vous possèdez déjà un compte @Html.ActionLink("Connectez vous !", "Login")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--

    <br /><br /><br /><br />
    <h2>Page d'inscription</h2>

    @using (Html.BeginForm("AddStudent", "Students", FormMethod.Post))
    {

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @ViewBag.AlreadyExist

            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { @class = "control-label col-md-2"/*, placeholder = "Email", required = "required" */})
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { @class = "control-label col-md-2"/*, placeholder = "Prénom", required = "required" */})
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { @class = "control-label col-md-2"/*, placeholder = "Nom", required = "required" */})
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { @class = "control-label col-md-2"/*, placeholder = "Numéro de téléphone", required = "required" */})
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { @class = "control-label col-md-2" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2", placeholder = "Email", required = "required" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GradeIdGrade, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GradeIdGrade, new { @class = "control-label col-md-2", placeholder = "Email", required = "required" })
                    @Html.ValidationMessageFor(model => model.GradeIdGrade)
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Inscription" class="btn btn-default" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <label class="label-success">e</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <label class="label-danger">@ViewBag.DuplicateMessage</label>
                </div>
            </div>

        </div>
    }


    @Html.ActionLink("Retour à la page de login", "Login")
        -->

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>