@model Diplodocus.Models.SchoolSubjectMark

@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    if (Session["ManagerId"] == null)
    {
        Response.Redirect("~/Users/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supression</title>
</head>
<body>

    <div class="container" style="background-color:white; border-radius:10px; margin-top:5%; margin-bottom:5%">
        <h3>Are you sure you want to delete this?</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Note
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mark)
            </dd>

            <dt>
                Etudiant
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentIdStudent)
            </dd>

            <dt>
                Matière
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SchoolSubjectIdSchoolSubject)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Retour", "Index")
            </div>
        }
    </div>
</body>
</html>
