<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #right-Button {
            float: right;
        }
    </style>
</head>
<body>
    <div class="navbar-inverse navbar-fixed-top">
        <div class="container">
            <div>
                @if (Session != null)
                {
                    if (Session["UserType"].ToString().Contains("Manager"))
                    {
                @Html.ActionLink("Accueil", "StudentStart", "Start", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else
                    {
                        if (Session["UserType"].ToString().Contains("Manager"))
                        {
                    @Html.ActionLink("Accueil", "ManagerStart", "Start", new { area = "" }, new { @class = "navbar-brand" })
                        }
                    }
                }
            </div>
            <div class="navbar-right">
                @if (Session["UserType"].ToString().Contains("Student"))
                {
                    <a href="@Url.Action("GestionStudent", "Users", new { id = Session["UserId"] })" class="navbar-brand" style="display:inline-block; padding:10px;">Gestion<img src="~/Images/profil-32x32.png" style="display:inline-block;padding-left:5px" /></a>
                }
                else
                {
                    if (Session["UserType"].ToString().Contains("Manager"))
                    {
                        <a href="@Url.Action("GestionManager", "Users", new { id = Session["UserId"] })" class="navbar-brand" style="display:inline-block; padding:10px;">Gestion<img src="~/Images/profil-32x32.png" style="display:inline-block;padding-left:5px" /></a>
                    }
                }
                <a href="@Url.Action("Logout","Users")" class="navbar-brand" style="display:inline-block; padding:10px;">Logout <img src="~/Images/off-32x32.png" style="display:inline-block;padding-left:5px" /></a>
            </div>
        </div>
 
    </div>
    <div class="container body-content">
        @RenderBody()
        <!--<hr />-->
        <!--<footer>-->
        <!--<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>-->
        <!--</footer>-->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
