<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Diplodocus</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="border:0px solid #262626">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    @if (Session != null)
                    {
                        if (Session["UserType"].ToString().Contains("Student"))
                        {
                            <a href="@Url.Action("StudentStart", "Start", new { id = Session["UserId"] })" class="navbar-brand" style="display:inline-block; padding:10px;"><img src="~/Pictures/home-32x32.png" style="display:inline-block;padding-left:15px;padding-right:5px" />Accueil</a>
                        }
                        else
                        {
                            if (Session["UserType"].ToString().Contains("Manager"))
                            {
                                <a href="@Url.Action("ManagerStart", "Start", new { id = Session["UserId"] })" class="navbar-brand" style="display:inline-block; padding:10px;"><img src="~/Pictures/home-32x32.png" style="display:inline-block;padding-left:15px;padding-right:5px" />Accueil</a>
                            }
                            else
                            {
                                <a href="@Url.Action("TeacherStart", "Start", new { id = Session["UserId"] })" class="navbar-brand" style="display:inline-block; padding:10px;"><img src="~/Pictures/home-32x32.png" style="display:inline-block;padding-left:15px;padding-right:5px" />Accueil</a>
                            }
                        }
                    }
                </ul>
            </div>

            <div class="navbar-right">

                @if (Session["UserType"].ToString().Contains("Student"))
                {
                    <div class="navbar-brand" style="display:inline-block; padding-top:14px; opacity:0.7">@Session["StudentFirstName"] @Session["StudentLastName"]</div>
                    <a href="@Url.Action("GestionStudent", "Users", new { id = Session["UserId"] })" class="navbar-brand" style="display:inline-block; padding:10px;"><img src="~/Pictures/profil-32x32.png" style="display:inline-block;padding-left:15px;padding-right:5px" />Profil</a>
                }
                else
                {
                    if (Session["UserType"].ToString().Contains("Manager"))
                    {
                        <div class="navbar-brand" style="display:inline-block; padding-top:14px; opacity:0.7">@Session["ManagerFirstName"] @Session["ManagerLastName"]</div>
                        <a href="@Url.Action("GestionManager", "Users", new { id = Session["UserId"] })" class="navbar-brand" style="display:inline-block; padding:10px;"><img src="~/Pictures/profil-32x32.png" style="display:inline-block;padding-left:15px;padding-right:5px" />Profil</a>
                    }
                    else
                    {
                        if (Session["UserType"].ToString().Contains("Teacher"))
                        {
                            <div class="navbar-brand" style="display:inline-block; padding-top:14px; opacity:0.7">@Session["TeacherFirstName"] @Session["TeacherLastName"]</div>
                            <a href="@Url.Action("GestionTeacher", "Users", new { id = Session["UserId"] })" class="navbar-brand" style="display:inline-block; padding:10px;"><img src="~/Pictures/profil-32x32.png" style="display:inline-block;padding-left:15px;padding-right:5px" />Profil</a>
                        }
                    }
                }
                            <a href="@Url.Action("Logout","Users")" class="navbar-brand" style="display:inline-block; padding:10px;"><img src="~/Pictures/off-32x32.png" style="display:inline-block;padding-left:15px;padding-right:5px" />Déconnexion</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <div class="navbar navbar-inverse navbar-fixed-bottom" style="border:0px solid #262626">
            <div class="container">
                <ul class="nav navbar-nav" style="width:100%; padding-left:39%; font-size:30px">
                    <li class="navbar-brand" style="font-size:30px"><strong>@DateTime.Now.Year - </strong><strong style="color:greenyellow">DIPLO</strong><strong>DOCUS</strong></li>
                </ul>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
